.main{
    background-image: url(/src/img/фон.svg);
    height: 100vh;
}
.main > header > div{
    display: inline-block;
}
header{
    padding-top: 20px;
    font-size: 18px;
}
.btn{
    font-size: 18px;
}
.header_link{
    color: black;
    text-decoration: none;
    margin-right: 10px;
}
.header_link:hover{
    text-decoration: underline;
}
.header_button{
    border: 1px solid #687AA4A6;
    border-radius: 15px;
}
.main_text{
    margin-top: 300px;
    h1{
        font-size: 64px;
        font-weight: 400px;
    }
    p{
        margin-top: 20px;
        font-size: 20px;
    }
    button{
        border: none;
        border-radius: 25px;
        background-color: #173373A6;
        color:#fff;
        font-size: 24px;
        height: 40px;
        width: 250px;
    }
}

